:host {
  display: grid;
  grid-template-columns: 112px 1fr;
  grid-gap: 24px;
}

.user-avatar {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  background-position: center center;
  background-size: contain;
}

.username-and-name {
  text-align: left;
}