:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 12px;
}

:host.is-mine {
  grid-template-columns: 1fr 32px;

  .message-container {
    order: -1;
    text-align: right;
  }

  .message-name-box {
    display: flex;
    justify-content: end;
  }

  .message-name {
    order: 1;
  }

  .message-text-box {
    padding: 8px 16px;
    background: var(--primary-color);
    max-width: 85%;
    justify-self: end;
    clip-path: polygon(10px 0, 100% 0, 100% 100%, 0 100%, 0 10px);
    transform: scaleX(-1);
  }

  .message-text {
    font-weight: 500;
    color: var(--dark-color);
    transform: scaleX(-1);
    text-align: justify;
    word-break: break-all;
    white-space: pre-wrap;
  }
}

.message-name-box {
  display: flex;
  justify-content: start;
}

.message-text-box {
  padding: 8px 16px;
  background: var(--message-color);
  max-width: 85%;
  width: fit-content;
  clip-path: polygon(10px 0, 100% 0, 100% 100%, 0 100%, 0 10px);
}

.message-text {
  font-weight: 500;
  color: var(--light-color);
  text-align: justify;
  word-break: break-all;
  white-space: pre-wrap;
}